* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('background-pic.webp'); 
  background-size: cover;
  font-family: 'Arial', sans-serif; 
}


.login-form-page {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label{
  margin: 20px 0;
  font-size: 20px; 
  color: #555; 
}

.login-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px; 
  color: #333; 
}

.input-info {
  border: 1px solid #ccc; 
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%; 
  background-color:#f2f2f2 ;
  margin-bottom: 15px; 
  transition: border-color 0.3s; 
  font-size: 18px;
}

.input-info:focus {
  border-color: #d1a36d;
}

.registration-link {
  text-align: center;
  font-size: 18px;
  margin-top: 20px; 
}

.rpage-link {
  color: #d1a36d; 
  text-decoration: none; 
}

.rpage-link:hover {
  text-decoration: underline; 
}

.submit-button {
  margin: 20px 0;
  border: none;
  padding: 15px;
  background-color: #d1a36d; 
  border-radius: 25px; 
  color: #f2f2f2; 
  cursor: pointer;
  transition: background-color 0.3s; 
  font-size: 20px;
}

.submit-button:hover {
  background-color: #b88f60; 
}

.home-button-container {
  margin: 20px; 
  text-align: left; 
}

.back-to-mainp {
  width: 65px;
  height: 65px;
  border: none;
  background-color: #4d4d4d; 
  border-radius: 50%; 
  color: white; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; 
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.back-to-mainp:hover {
  background-color: #3b3b3b; 
  transform: scale(1.05); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}


@media (max-width: 500px) {
  .login-form-page {
    width: 90vw; 
    padding: 20px; 
  }

  .login-title {
    font-size: 24px;
  }

  .login-label {
    font-size: 18px; 
  }

  .input-info {
    font-size: 16px; 
  }

  .submit-button {
    font-size: 18px; 
    padding: 12px;
  }

  .registration-link {
    font-size: 16px; 
  }

  .rpage-link {
    font-size: 16px; 
  }

  .back-to-mainp {
    width: 50px; 
    height: 50px; 
  }
}